{
  "openapi": "3.0.1",
  "info": {
    "title": "Open SaaS Directory API",
    "description": "API documentation for Open SaaS Directory",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://opensaas.directory",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Projects",
      "description": "Project management APIs"
    },
    {
      "name": "AI",
      "description": "AI integration APIs"
    },
    {
      "name": "Authentication",
      "description": "Authentication APIs"
    },
    {
      "name": "Assets",
      "description": "Asset management APIs"
    }
  ],
  "paths": {
    "/api/topics/{slug}": {
      "get": {
        "tags": [
          "topic-controller"
        ],
        "operationId": "getTopic",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TopicResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "topic-controller"
        ],
        "operationId": "updateTopic",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TopicCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TopicResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "topic-controller"
        ],
        "operationId": "deleteTopic",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/projects/{slug}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get a project by ID with GitHub details",
        "operationId": "getProject",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDetailResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Projects"
        ],
        "summary": "Update an existing project",
        "operationId": "updateProject",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/topics": {
      "get": {
        "tags": [
          "topic-controller"
        ],
        "operationId": "getFilteredTopics",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "ARCHIVED"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CATEGORY",
                "TAG",
                "ALTERNATIVE"
              ]
            }
          },
          {
            "name": "includeEmptyTopics",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseTopicResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "topic-controller"
        ],
        "operationId": "createTopic",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TopicCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TopicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/topics/{slug}/suggest": {
      "post": {
        "tags": [
          "topic-controller"
        ],
        "summary": "Get AI suggestions for a topic",
        "operationId": "getSuggestions",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TopicSuggestRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TopicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get all projects with pagination",
        "operationId": "getAllProjects",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "FEATURED",
                  "ACTIVE",
                  "PENDING",
                  "ARCHIVED"
                ]
              }
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "topics",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseProjectResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create a new project",
        "operationId": "createProject",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects/{slug}/suggest": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Get AI suggestions for a project based on README",
        "operationId": "getSuggestions_1",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectSuggestRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectSuggestResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/contact": {
      "post": {
        "tags": [
          "contact-controller"
        ],
        "operationId": "contact",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authenticate user and get JWT token",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/assets": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get a paginated list of assets",
        "operationId": "getAssets",
        "parameters": [
          {
            "name": "prefix",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseAssetResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Create a new asset",
        "operationId": "createAsset",
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "files"
                ],
                "type": "object",
                "properties": {
                  "files": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/ai/prompt": {
      "post": {
        "tags": [
          "AI"
        ],
        "summary": "Generate AI response for a userPrompt",
        "operationId": "generateResponse",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AiPromptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AiPromptResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects/{id}": {
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Delete a project",
        "operationId": "deleteProject",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/assets/{id}": {
      "delete": {
        "tags": [
          "Assets"
        ],
        "summary": "Delete an asset by ID",
        "operationId": "deleteAsset",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TopicCreateRequest": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "CATEGORY",
              "TAG",
              "ALTERNATIVE"
            ]
          },
          "iconURL": {
            "type": "string"
          }
        }
      },
      "TopicResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "CATEGORY",
              "TAG",
              "ALTERNATIVE"
            ]
          },
          "iconURL": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "projectsCount": {
            "type": "integer",
            "format": "int32"
          },
          "projects": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "ARCHIVED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ProjectAttachment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "IMAGE",
              "VIDEO",
              "TEXT"
            ]
          }
        }
      },
      "ProjectContentRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "VIDEO",
              "ARTICLE"
            ]
          },
          "url": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "thumbnail": {
            "type": "string"
          },
          "publishedAt": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "ProjectLink": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "GITHUB_REPOSITORY",
              "COMMUNITY",
              "HOSTED",
              "WEBSITE",
              "DEMO",
              "DOCUMENTATION"
            ]
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "ProjectUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "githubId": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectAttachment"
            }
          },
          "contents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectContentRequest"
            }
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectLink"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "FEATURED",
              "ACTIVE",
              "PENDING",
              "ARCHIVED"
            ]
          },
          "topics": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "readme": {
            "type": "string"
          }
        }
      },
      "ProjectContentResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "thumbnail": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "VIDEO",
              "ARTICLE"
            ]
          },
          "publishedAt": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "ProjectDetailResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "topics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TopicResponse"
            }
          },
          "githubId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "stars": {
            "type": "integer",
            "format": "int32"
          },
          "forks": {
            "type": "integer",
            "format": "int32"
          },
          "contributors": {
            "type": "integer",
            "format": "int32"
          },
          "lastContribution": {
            "type": "string",
            "format": "date-time"
          },
          "fetchedAt": {
            "type": "string",
            "format": "date-time"
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectAttachment"
            }
          },
          "contents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectContentResponse"
            }
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectLink"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "FEATURED",
              "ACTIVE",
              "PENDING",
              "ARCHIVED"
            ]
          },
          "readme": {
            "type": "string"
          }
        }
      },
      "TopicSuggestRequest": {
        "type": "object",
        "properties": {
          "userPrompt": {
            "type": "string"
          }
        }
      },
      "ProjectCreateRequest": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "githubId": {
            "type": "string"
          }
        }
      },
      "ProjectSuggestRequest": {
        "type": "object",
        "properties": {
          "userPrompt": {
            "type": "string"
          }
        }
      },
      "ProjectSuggestResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "readme": {
            "type": "string"
          },
          "topics": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectLink"
            }
          },
          "screenshots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectSuggestScreenshot"
            }
          }
        }
      },
      "ProjectSuggestScreenshot": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "ContactRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ContactResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LoginRequest": {
        "required": [
          "password",
          "username"
        ],
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "username": {
            "type": "string"
          }
        }
      },
      "AssetResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "format": "int64"
          },
          "url": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AiPromptRequest": {
        "required": [
          "maxTokens",
          "systemPrompt",
          "temperature",
          "userPrompt"
        ],
        "type": "object",
        "properties": {
          "userPrompt": {
            "type": "string"
          },
          "systemPrompt": {
            "type": "string"
          },
          "maxTokens": {
            "type": "integer",
            "format": "int32"
          },
          "temperature": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "AiPromptResponse": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PagedResponseTopicResponse": {
        "type": "object",
        "properties": {
          "contents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TopicResponse"
            }
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "totalContents": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "PagedResponseProjectResponse": {
        "type": "object",
        "properties": {
          "contents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectResponse"
            }
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "totalContents": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ProjectResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "topics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TopicResponse"
            }
          },
          "githubId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "stars": {
            "type": "integer",
            "format": "int32"
          },
          "forks": {
            "type": "integer",
            "format": "int32"
          },
          "contributors": {
            "type": "integer",
            "format": "int32"
          },
          "lastContribution": {
            "type": "string",
            "format": "date-time"
          },
          "fetchedAt": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "FEATURED",
              "ACTIVE",
              "PENDING",
              "ARCHIVED"
            ]
          },
          "license": {
            "type": "string"
          }
        }
      },
      "PagedResponseAssetResponse": {
        "type": "object",
        "properties": {
          "contents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AssetResponse"
            }
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "totalContents": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Enter the JWT token in the format: Bearer <token>\nYou can obtain a token from the /api/auth/login endpoint.\n",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}